html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: hsl(204, 43%, 93%)
    
}


.whole{
    display: grid;
    width: 35%;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 4px 10px -2px hsl(0, 0%, 68%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
}

.join {
    background: white;
}

h1 {
    color: hsl(179, 70%, 43%);
    padding-left: 7%;
   }

.h31 {
    color: hsl(71, 73%, 54%);
    padding-left: 7%;
}

p {
    color: hsl(218, 22%, 67%);
    padding-left: 7%;
    font-size: 18px;
}

h3 {
    color: white;
    padding-left: 7%;
}

span {
    font-size: 2em;
    padding-left: 7%;
    color: white;
}

span b {
    padding-left: 3%;
    font-size: 18px;
    font-weight: normal;
    color: hsl(218, 22%, 67%);
}

.full {
    color: white;
}

.lowerHalf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
}

.monthlySub {
    background: hsl(179, 70%, 43%);
}

button {
    margin-left: 45px;
    background-color: hsl(71, 73%, 54%);
    font-family: 'Karla', 'sans-serif';
    width: 70%;
    height: 20%;
    font-size: 18px;
    border-radius: 6px;
    color: white;
    border: none;
    box-shadow: 0 4px 5px -2px hsl(0, 0%, 42%);
    cursor: pointer;
}

.whyUs {
    background-color: hsl(179, 62%, 43%);
}

ul {
    color: hsl(204, 43%, 93%);
}

